<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1" parallel="tests"
       thread-count="3" >
    <test name="FIREFOX" annotations="JDK">
        <parameter name="browser" value="Firefox"/>

        <classes>
            <class name="testngcucumberrunner.RunnerTests" />
        </classes>
    </test> <!-- Test -->
    <test name="CHROME" annotations="JDK">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testngcucumberrunner.RunnerTests" />
        </classes>
    </test> <!-- Test -->
</suite>